form{
    margin-top: 5%;
}

#heads {
    background-color: brown;
    float: left;
    margin: 0 auto;
}

.fpw {
    width: 90%;
}

.ToDo {
    width: 10%;
}

#r1, #r2, #r3, #r4 {
    height: 40px;
    float: left;
    margin: 0 auto;
    padding: 5px;
}

#inputs {
    width: 100%;
    height: 25px;
}

.r1c1{
    background-color: red;
    width: 15%;
}

.r1c2{
    background-color: green;
    width: 55%;
}

.r1c3{
    background-color: blue;
    width: 30%;
}

.r2c1 {
    background-color: red;
    width: 15%;
}

.r2c2 {
    background-color: green;
    width: 55%;
}

.r2c3 {
    background-color: blue;
    width: 30%;
}

.r3c1 {
    background-color: red;
    width: 15%;
}

.r3c2 {
    background-color: green;
    width: 55%;
}

.r3c3 {
    background-color: blue;
    width: 30%;
}

.r4c1 {
    background-color: red;
    width: 15%;
}

.r4c2 {
    background-color: green;
    width: 55%;
}

.r4c3 {
    background-color: blue;
    width: 30%;
}