.as{
    width: 20%;
    color: #d93025;
    font-size: 20px;
    margin: 25px 50px;
}

.border{
    border-bottom: 1px solid #ebebeb;
}

form {
    margin-top: 2%;
}

#heads {
    float: left;
    margin: 0 auto;
    height: 35px;
}

.fpw {
    width: 70%;
    padding-left: 50px;
    font-size: 16px;
}

.ToDo {
    width: 30%;
    font-size: 13px;
    font-weight: 700;
    color: #777;
}

#r1,
#r2,
#r3,
#r4 {
    height: 50px;
    float: left;
    margin: 0 auto;
    padding: 5px;
}

#inputs {
    border-radius: 1px;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    font-size: 13px;
    height: 25px;
    padding: 1px 8px;
    width: 100%;
    height: 30px;
}

.c3r12{
    margin-top: 7px;
}

.c1r1234{
    margin-top: 7px;
}

.c1 {
    width: 15%;
    font-size: 13px;
}

.c2 {
    width: 55%;
}

.c3 {
    width: 20%;
    font-size: 11px;
}

.cols3rows4{
    margin: 40px 2% 0 45px;
}

.advancedbutton{
    width: 137px;
    margin-left: 60.20%;
    padding-top: 20%;
}

.submitB {
    background-color: #357ae8;
    background-image: -webkit-linear-gradient(top, #4d90fe, #4787ed);
    border: 1px solid #357ae8;
    border-radius: 2px;
    border-image: initial;
    color: #fff;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    user-select: none;
    line-height: 100%;
    height: 30px;
    min-width: 120px;
}

.fields {
    width: 50%;
    border-radius: 1px;
    font-size: 13px;
    height: 25px;
    padding: 1px 8px;
    align-items: baseline;
}

#container {
    text-align: left;
    margin-left: 20px;
    flex-wrap: wrap;
}

#indexform {
    text-align: center;
    margin: center;

}

#indexinput {
    border-radius: 25px;
    padding: 20px;
    width: 400px;
    height: 3px;
}

#searchB {
    margin-top: 15px;
}